* {
    background-color: rgb(226, 226, 226);
    text-align: center;
}

.h1 {
    font-size: 48px;
    background-color: black;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    /* display: inline-block; */
    padding: 5px 5px;
    margin: 0;
}

#aga2 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: normal;
}

#aga2:hover {
    color: red;
    text-decoration: underline;
}

p {
    font-size: 18px;
}

.p1 {
    color: green;
    border: black, solid, 2px;
    background-color: rgb(175, 175, 175);
    text-decoration: underline;
    display: inline;
    padding: 5px;
}

.p1:hover {
    color: red;
    text-decoration: none;
    border: none;
    background-color: rgb(226, 226, 226);
}