* {
    background-color: rgb(226, 226, 226);
    text-align: center;
}

h1 {
    font-size: 48px;
    background-color: black;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    /* display: inline-block; */
    padding: 5px 5px;
    margin: 0;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: normal;
}

p {
    font-size: 18px;
}

.p1 {
    border: black, solid, 2px;
    background-color: red;
    text-decoration: underline;
    display: inline;
    padding: 5px;
}
