h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-style: italic;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-transform: capitalize;
}

p {
    font-size: 18px;
    text-align: center;
}