 * {
    font-family: monospace;
} 

body {
    background-color: #fafafa;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.center {
    text-align: center;
}

h1 {
    background: #1A365D;
    font-size: 46px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0px;
}

.subtitle_nome {
    margin-top: 0px;
    padding: 2px;
    background-color: #E0E1DD;
    color: #1A365D;
    font-size: 15px;
    border-bottom: #1A365D solid 0.5px;
    border-left: #1A365D solid 0.5px;
    border-right: #1A365D solid 0.5px;
}

h2 {
    background: #E2E8F0;
    font-size: 36px;
    color: #2D3748;
    padding: 7px;
    border-bottom: #2D3748 solid;
}

.mgtp0 {
    margin-top: 0px;
}

h3 {
    font-size: 14.5px;
}

a {
    color: #1387e0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0px;
}

li {
    list-style-position: inside;
}

.menu {
    display: flex;       
    flex-direction: column-reverse;
    gap: 10px;    
    text-align: center;
    list-style: none;
}

.menu li {
    flex: 1;
    display: block;
    border: #1A365D solid 0.5px;
}

.menu a {
    background-color: #E2E8F0;
    display: block;
    text-align: center; 
    padding: 5px;
    color: #1A365D;
}

.menu a:hover {
    background-color: #1A365D;
    text-decoration: none;
    color: white;
}